@import url(https://fonts.googleapis.com/css?family=Oxygen&display=swap);


body{
    font-family: Oxygen, serif;
    background: linear-gradient(90deg, #4ec6e4 4%, #b2c4ca 67%);
}


.nav-link{
    color: rgb(98, 198, 235);
}


.navbar-nav .nav-link.active{
    color: rgb(176, 178, 179);
}

.navbar-brand img{
    width: 40px;   
}

.navbar-toggler{
    background-color: rgb(185, 185, 185);
    padding: 4px 9px;
}


.card img{
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: #adb0b1;

}

.sidebar{
    border-style: solid;
    border-width: 0.5px;
    background-color: #d9f1fa;
    border-color: #bebebe;
    
}

.sidebar1{
    background-color: #003544;
}


.slide-text{
    color: rgb(3, 8, 22);
    margin: auto auto;
}

@media (max-width: 750px){
    .carousel-indicators{
        display: none;
    }
}

footer{
    border-top-style: olid;
    border-width: 0.5px;
    margin-top: 120px;
    margin-bottom: 0;
    background: linear-gradient(180deg, #89bfcc 4%, #a5bec7 67%);
}

footer p{
    font-size: 20px;
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

